@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Unbounded', cursive;
}

body {
    background-color: rgba(211, 211, 211, 0.466);
}

nav {
    width: 17%;
    height: 100vh;
    background-color: rgba(12, 12, 12, 0.938);
    color: white;
    box-shadow: 0.5px 0.5px 15px gray;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-left: 5px;
}

nav a {
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 0.5px;
}

table {
    width: 15vw;
    border: 1px solid white;
    border-radius: 3px;
}

#table1 {
    margin-top: 10px;
}

#table2 {
    margin-top: 20px;
}

td:hover {
    background-color: white;
    color: black;
    font-weight: bolder;
}

nav a {
    color: inherit;
}

#header {
    width: 83%;
    background-color: rgba(29, 28, 28, 0.938);
    color: white;
    border: 0.5px solid black;
    letter-spacing: 1px;
    text-align: center;
    font-size: 20px;
    padding: 5px 0px;
    position: relative;
    left: 17%;
    box-shadow: 2px 2px 5px black;
    margin-bottom: 20px;
}

#logout {
    width: 14vw;
    background-color: rgb(237, 75, 75);
    border: none;
    height: 35px;
    color: white;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 10px;
}

#logout:hover {
    background-color: brown;
}


/* .....................page1 styling code............................ */
#page1 {
    width: 81%;
    left: 19%;
    text-align: center;
    /* display: none; */
}

#box-container {
    height: 510px;
    width: 49%;
    padding-top: 15px;
    border: 1px solid black;
    border-radius: 1%;
    background-color: white;
    position: relative;
    left: 25%;
    top: 10px;
}

.block {
    text-align: center;
    height: 110px;
    width: 110px;
    background-color: rgba(192, 190, 190, 0.568);
    border-radius: 100%;
    margin-left: 40%;
    padding: 27px 22px;
    box-shadow: 1px 1px 10px black;
}

#edit {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.content1,
#submit-btn {
    border: none;
    border-radius: 3px;
}

.content1 {
    width: 83%;
    height: 35px;
    margin-top: 13px;
    padding-left: 5px;
    background-color: lightgray;
}

#submit-btn {
    margin-top: 25px;
    width: 83%;
    height: 40px;
    color: white;
    letter-spacing: 1px;
    background-color: rgb(237, 75, 75);
    font-size: 17px;
}

#submit-btn:hover {
    background-color: brown;
}

/* ...................page2 styling code...................... */
#page2 {
    width: 81%;
    position: relative;
    left: 19%;
    text-align: center;
    /* display: none; */
}

.content-box2 {
    height: 320px;
    width: 49%;
    border: 1px solid black;
    background-color: white;
    position: relative;
    top: 100px;
    left: 25%;
}

.content2 {
    width: 80%;
    height: 35px;
    margin-top: 50px;
    background-color: #a3acad65;
    border: none;
    padding-left: 10px;
}

#comp_id {
    margin-top: 35px;
}

.inside_header {
    margin-top: 15px;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.remove_button {
    height: 40px;
    width: 80%;
    font-size: 16px;
    letter-spacing: 1px;
    border: none;
    margin-top: 40px;
    color: white;
    background-color: rgb(237, 75, 75);
}

.remove_button:hover {
    background-color: brown;
}

/* ...................page3 styling code...................... */
#page3 {
    width: 80%;
    position: relative;
    left: 20%;
    text-align: center;
    /* display: none; */
}

.container {
    padding-top: 13px;
    display: grid;
    width: 85%;
    margin-left: 6%;
    margin-top: 70px;
    background-color: white;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
    border: 1px solid black;
}

#company1 {
    border-right: 1px solid black;
    margin-left: 5px;
    border-bottom: 2px solid black;
}

.block1 {
    text-align: center;
    height: 100px;
    width: 100px;
    background-color: rgba(128, 128, 128, 0.126);
    border-radius: 100%;
    margin-left: 40%;
    margin-top: 30px;
    padding: 25px 20px;
    box-shadow: 2px 2px 10px black;
}

.input1 {
    height: 30px;
    width: 88%;
    margin-top: 25px;
    border: none;
    background-color: rgba(128, 128, 128, 0.212);
    padding-left: 10px;
}

#txt-area {
    padding-top: 5px;
    width: 88%;
    height: 100px;
    font-weight: 600;
    resize: none;
}

#company2 {
    border-left: 1px solid black;
    margin-right: 5px;
    border-bottom: 2px solid black;
}

.Create_button {
    height: 35px;
    width: 40%;
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 80%;
    border: none;
    color: white;
    background-color: rgb(237, 75, 75);
}

.Create_button:hover {
    background-color: brown;
}

.selector {
    display: flex;
    margin: 20px 6%;
}

#services {
    width: 330px;
}

.dating {
    width: 350px;
    padding-left: 5px;
    height: 35px;
    margin-left: 50px;
    margin-top: 30px;
    background-color: lightgray;
    border: none;
}

button {
    margin-left: 5px;
    width: 20%;
    border: none;
    border-radius: 3px;
    background-color: rgb(237, 75, 75);
    color: white;
}

button:hover {
    background-color: brown;
}

/* ...................page4 styling code...................... */
#page4 {
    width: 81%;
    position: relative;
    left: 19%;
    text-align: center;
    /* display: none; */
}

#poll_id {
    margin-top: 35px;
}

#container {
    height: 90vh;
    width: 80vw;
    position: relative;
    left: 18vw;
    overflow: hidden;
}

#container section {
    height: 100%;
    width: 100%;
}

/* ...................page5 styling code...................... */
#page5 {
    width: 81%;
    height: auto;
    position: relative;
    overflow: scroll;
    left: 19%;
    /* display: none; */
}

.box {
    height: 120px;
    width: 50%;
    background-color: white;
    text-align: left;
    border-radius: 4px;
    margin-left: 20%;
    margin-bottom: 20px;
}

#logo {
    margin-left: 15px;
    position: relative;
    top: 30px;
    left: 10px;
}

#l1 {
    position: relative;
    top: -20px;
    left: 70px;
}

#l2 {
    position: relative;
    left: 147px;
    top: -5px;
}

#l3 {
    position: relative;
    left: 147px;
    top: 10px;
}

/* ...................page6 styling code...................... */
#page6 {
    width: 70%;
    height: 100%;
    position: relative;
    left: 25%;
    overflow: scroll;
    /* display: none; */
}

.poll-box{
    width: 53%;
    background-color: white;
    margin-left: 22%;
    margin-top: 20px;
    padding: 20px 10px;
}

.wole-box{
    display: flex;
}

.img-name img{
    margin-left: 13px;
}

.comp-cont-box1, .comp-cont-box2{
    display: flex;
}

.comp-cont-box2{
    margin-left: 15%;
}

.rcr-box{
    margin-left: 15px;
}

.poll-remove-btn{
    height: 30px;
    margin: 20px 37% 0px 37%;
}

/* ............................page7 styling............................. */

#page7 {
    width: 81%;
    height: 100%;
    position: relative;
    left: 19%;
    overflow: scroll;
    /* display: none; */
}

.report-box {
    width: 40%;
    height: 80px;
    background-color: white;
    margin-left: 30%;
    margin-top: 20px;
    padding: 15px 15px;
    display: flex;
}

.com-content {
    margin-left: 50px;
}

/*------------------------- page 8 styling ----------------------------------*/
#page8 {
    width: 81%;
    height: auto;
    position: relative;
    left: 19%;
}

.main-8{
    background-color: white;
    padding: 20px 20px;
    margin: 0px 20% 10px 20%;
    width: 60%;
    border-radius: 5px;
}

#search-poll_com{
    width: 100%;
    text-align: center;
}

#search-poll_com input{
    width: 30%;
    height: 35px;
    padding-left: 5px;
}

#search-poll_com-btn{
    height: 35px;
    width: 10%;
    margin-top: 10px;
}

.file-upload{
    width: 200px;
    height: 40px;
    margin-top: 40px;
    margin-left: -40%;
}